:root {
    --base-font-size: 14px;
}

.cover .cover-main {
    max-width: none;
}

.cover-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 40px;*/
    text-align: center;
}

.markdown-section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 15px 40px;
    position: relative;
}

.markdown-section .table-wrapper table {
    display: table;
    width: auto;
}
